/* Logo title */
.md-header__topic:first-child {
    font-weight: initial !important;
  }
  
  /* Code font size in <details> */
  details .linenos, details code {
    font-size: inherit !important;
  }
  
  /* Code block / tab in details */
  details > summary + .highlight:last-child, details > summary + .tabbed-set:last-child { margin: 0 -0.6rem !important; }
  details > summary + .highlight:last-child > .highlighttable { margin: 0 !important; }